
/*
Custom Light / Dark Theme
*/

:root[color-theme = "light"] {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    
    
    --text: hsl(218, 15.4%, 10.2%);
    --bkg1: hsl(0, 0%, 95%);
    --bkg2: hsl(220, 19%, 59%);
    --switchbg: hsl(0, 0%, 86%);
    --circlebg: hsl(65, 73%, 44%);
    --circle-pos: .3rem;
    --icon-sun: hsl(0, 0%, 95%);
    --icon-moon: hsl(0, 0%, 95%);
    --shadow: 20px 20px 50px hsl(255, 36%, 17%, .35),
    -30px -30px 50px hsl(26, 37%, 96%, .15);
    --default-transition: color .3s ease-in-out, fill .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

:root[color-theme = "dark"] {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    
    --text: hsl(0, 0%, 95%);
    --bkg1: hsl(218, 15.4%, 10.2%);
    --bkg2: hsl(220, 15%, 27%);
    --switchbg: hsl(220, 15%, 27%);
    --circlebg: hsl(246, 66%, 38%);
    --circle-pos: 3.13rem;
    --icon-sun: hsla(0, 0%, 60%, 0.689);
    --icon-moon: hsla(0, 0%, 60%, 0.689);
    --shadow: 20px 20px 50px hsl(255, 36%, 17%, .35),
    -30px -30px 50px hsla(26, 37%, 26%, 0.427);
    --default-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

/*
Button Styling
*/

#theme-switcher {
    background-color: var(--switchbg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.33rem;
    cursor: pointer;
    padding: .66rem;
    position: relative;
    right: 35px;
    bottom: 10px;
}

#theme-switcher::before {
    content: "";
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    background-color: var(--circlebg);
    border-radius: 50%;
    z-index: 0;
    left: var(--circle-pos);
}

#theme-switcher svg {
    z-index: 1;
}

#icon-moon {
    fill: var(--icon-sun);
}

#icon-sun {
    fill: var(--icon-sun);
}



.color-theme {
    background-color: var(--text);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--bkg1);
    cursor: pointer;
    display: grid;
    place-items: center;
}

.color-theme:is(:hover, :focus){
    background-color: var(--bkg1);
    opacity: .8;
}

/*
Navigation Bar
*/

nav {
    padding: 2rem 2rem 1rem;
}

.navbar{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: solid 3px var(--bkg1);
    box-shadow: 2px 2px 10px 2px var(--shadow);
    font-weight: 700;
    font-size: larger;
    align-items: center;
    letter-spacing: 3px;
    transition: var(--default-transition);
}

.navbar i{
    color: solid var(--bkg2);
}

.navbar .menu{
    display: flex;
}

.navbar ul{
    list-style: none;
}

.navbar .menu a, .navbar .login-menu li{
    margin-right:38px;
    text-decoration: none;  
    color:var(--text);
    background-color: var(--bkg1);
}

/*
Components
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: var(--default-transition);
}
body{
    color: var(--text);
    background-image: var(--bkg1);
    background-color: var(--bkg1);
    transition: var(--default-transition);
    background-attachment: fixed;
    font-family: sans-serif;
}
section{
    width:80vw;
    margin:5% auto;
    padding-top:40;
    text-align: center;
    line-height: 25px;
    background-image: var(--bkg1);
    background-color: var(--bkg1);
}
h1{
    margin-bottom: 20px;
    color: var(--text);
    transition: var(--default-transition);
}
p{
    margin-bottom: 20px;
    color: var(--text);
    transition: var(--default-transition);
}
